<div class="flex flex-col bg-wall-gray h-screen w-full">
    <section class="bg-funko-blue text-white py-20">
        <div class="container mx-auto px-6 text-center">
            <h1 class="text-4xl font-bold mb-4">Bienvenido a la mejor tienda online</h1>
            <p class="text-xl mb-8">Encuentra los mejores productos al mejor precio.</p>
            <a href="#" class="bg-white text-funko-blue px-6 py-3 rounded-full text-lg font-semibold hover:bg-gray-200 transition-all ease-in-out duration-300" routerLink="/products" >Explorar Productos</a>
        </div>
    </section>

    <!-- Features Section -->
    <section class="py-16">
        <div class="container mx-auto px-6 grid grid-cols-1 md:grid-cols-3 gap-8">
            <div class="bg-white p-6 rounded-lg shadow-md text-center">
                <h2 class="text-2xl font-semibold mb-4">Variedad</h2>
                <p>Explora una amplia gama de productos en distintas categorías.</p>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-md text-center">
                <h2 class="text-2xl font-semibold mb-4">Calidad</h2>
                <p>Solo ofrecemos productos de la más alta calidad.</p>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-md text-center">
                <h2 class="text-2xl font-semibold mb-4">Envío Rápido</h2>
                <p>Recibe tu compra rápidamente en la puerta de tu casa.</p>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="bg-gray-800 text-white py-6">
        <div class="container mx-auto px-6 text-center">
            <p>&copy; 2024 Mi Tienda. Todos los derechos reservados.</p>
        </div>
    </footer>
</div>
